<div class="forgotPassword">
  <h1>忘記密碼</h1>

  <label for="uaccount">輸入用戶名:</label>
  <input type="text" [(ngModel)]="uaccount" id="uaccount" name="uaccount"><br>
  <br>

  <input type="button" (click)="changeUpwd(uaccount)" value="建立新密碼">

  <div class="modal" *ngIf="showSuccessModal">
    <h2>成功提示</h2>
    <p>{{ successMessage }}</p>
    <button (click)="closeSuccessModal()">關閉</button>
  </div>

  <div class="modal" *ngIf="showErrorModal">
    <h2>錯誤提示</h2>
    <p>{{ errorMessage }}</p>
    <button (click)="closeErrorModal()">關閉</button>
  </div>
</div>
