body {
  background-color: #007bff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

/* 登录表单样式 */
.register {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* 输入框样式 */
input[type="text"],
input[type="password"],
input[type="email"]{
  width: 100%;
  font-size: 2em;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* 注冊按钮样式 */
input[type="button"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* 注冊按钮悬停效果 */
input[type="button"]:hover {
  background-color: #0056b3;
}
